{% extends "SymfonyCmfBlogBundle::default_layout.html.twig" %}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        {% if prevPost %}
            <a href="{{ path(prevPost, {'slug': prevPost.slug}) }}">&lt;&lt; {{ prevPost.title }}</a>
        {% endif %}
    </div>
    <div class="span6" style="text-align: right">
        {% if nextPost %}
            <a href="{{ path(nextPost, {'slug': nextPost.slug}) }}">{{ nextPost.title }} &gt;&gt;</a>
        {% endif %}
    </div>
</div>

{% include "DTLTravelBundle::post_view.html.twig" %}

{% set chrono = post.getChronoDate %}
{% set images = chrono.getReferences('Sandbox\\MediaBundle\\Document\\Media') %}
{% if chrono %}
    <h2>Medias</h2>
    {% include "DTLTravelBundle::images.html.twig" with {"images": images} %}
{% endif %}

{% endblock %}
